body{
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering:optimizeQuality;  
    background-image: url("images/bar-back.png");  
}
footer{
    position: fixed;
    text-align: center;
    background-color: rgba(0, 255, 0, 0.616);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;

}